.Burger{
    width:70%;
    margin:auto;
    height:200px;
    overflow: unset;
    text-align: center;
    font-weight: bold;
    font: 1.2rem;
}

@media (min-width:500px) and (min-height:400px){
    .Burger{
        height:300px;
        width:350px
    }
}
@media (min-width:1000px) and (min-height:700px){
    .Burger{
        height:380px;
        width:492px
    }
}



